<section id="home" class="section section-home teal white-text center">
    <div class="container"
        x-data="timer()"
        x-init="countdown()" >
        <div class="row">
            <div class="col m12 ">
                <h4>Count down to the next race . . .</h4>
            </div">
            <div class="col m3 center">
                <div>
                    <h5>
                        <span class="timer-count" x-text="days"></span>
                        <span class="timer-type">Days</span>
                    </h5>
                </div>
            </div>
            <div class="col m3 center">
                <div>
                    <h5>
                        <span class="timer-count" x-text="hours"></span>
                        <span class="timer-type">Hours</span>
                    </h5>
                </div>
            </div>
            <div class="col m3 center">
                <div>
                    <h5>
                        <span class="timer-count" x-text="minutes"></span>
                        <span class="timer-type">Minutes</span>
                    </h5>
                </div>
            </div>
            <div class="col m3 center">
                <div>
                    <h5>
                        <span class="timer-count" x-text="seconds"></span>
                        <span class="timer-type">Seconds</span>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <img class="responsive-img" src="assets/img/Enduro-2023.jpg" alt="">
</section>

