<!-- Section: count-down -->
<section id="count-down" class="section teal orange-text center">
  <div class="container"
    x-data="timer()"
    x-init="countdown()" >
    <div class="row">
      <div class="col m12 center">
        <h2>Count down to the race . . .</h2>
      </div>
      <div class="col m5 right-align">
        <h3>
          <span class="timer-count" x-text="days"></span>
          <span class="timer-type">days</span>
        </h3>
      </div>
      <div class="col m6 left-align">
        <h3>
          <span class="timer-count" x-text="hours"></span>
          <span class="timer-type">:</span>
          <span class="timer-count" x-text="minutes"></span>
          <span class="timer-type">:</span>
          <span class="timer-count" x-text="seconds"></span>
          <span class="timer-type">hours</span>
        </h3>
      </div>
    </div>
  </div>
</section>

