<footer class="section teal white-text center">
  <h4>
    <a href="#home" class="white-text">{{ site.title }}</a>
  </h4>
</footer>  

<!--Import jQuery before materialize.js-->
<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"> </script> -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/float-panel.js"> </script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jordan.js"> </script>

<script>
  $(document).ready(function () {
    $("select").formSelect();
    // Create your validation helper text
    var validationMessage = '<span class="helper-text" data-error="Please choose your race class"></span>';
    // Place it in the dom
    $('.select-wrapper input').after(validationMessage);
    // Error logic
    var select = jQuery('.select-wrapper input')[0];
    $('.submit-btn').on('click',function(){
      if ( jQuery('ul.select-dropdown li:not(.disabled).selected').length < 1 ) {
        $(select).addClass('invalid');
      }     
      
    });

    $('.materialboxed').materialbox();
    $('.scrollspy').scrollSpy();
  });
</script>
