<footer class="section teal white-text center">
   <h4>
      <!-- <a href="#home" class="white-text">{{ site.title }}</a> -->
      Enduro Race August 26-27, 2023
   </h4>
</footer>  

<!--Import jQuery before materialize.js-->
<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"> </script> -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
<script type="text/javascript" src="{{ 'assets/js/float-panel.js' | relative_url }}"> </script>
<script type="text/javascript" src="{{ 'assets/js/jordan.js' | relative_url }}"> </script>
<script src="{{ 'assets/js/main.js' | relative_url }}"></script>
<script src="{{ 'assets/js/count.js' | relative_url }}"></script>
