<section class="section section-form scrollspy" id="form">
  <div class="container">
    <h4 class="center">Please fill in the form to register:</h4>
    <form onsubmit="postEnduroMarch23(event)">
      <div class="row">
        <div class="col s12">
          <div class="input-field">
            <i class="material-icons prefix text-teal">group</i>
            <input id="team" type="text">
            <label class="active" for="team">Team Name:</label>
          </div>
        </div>
        <div class="col s6">
          <div class="input-field">
            <i class="material-icons prefix text-teal">font_download</i>
            <select id="raceclass" required>
              <option value="" disabled selected>Choose your Race Class</option>
              {% for class in site.data.race.classes %} 
              <option value="{{ class.name }}">{{ class.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Racer # 1 info -->
        <div class="col s6">
          <h5>Racer 1:</h5>
          {% for racer in site.data.race.racer1 %}
          <div class="input-field">
            <i class="material-icons prefix text-teal">{{ racer.icon }}</i>
            <input id="{{ racer.id }}" type="text" {{ racer.req }}>
            <label class="active" for="{{ racer.id }}">{{ racer.label }}</label>
          </div>
          {% endfor %}
        </div>
        <!-- Racer # 2 info -->
        <div class="col s6">
          <h5>Racer 2:</h5>
          {% for racer in site.data.race.racer2 %}
          <div class="input-field">
            <i class="material-icons prefix text-teal">{{ racer.icon }}</i>
            <input id="{{ racer.id }}" type="text" {{ racer.req }}>
            <label class="active" for="{{ racer.id }}">{{ racer.label }}</label>
          </div>
          {% endfor %}
        </div>
        {% include yes-no-march-18.html %}
        {% include yes-no-march-19.html %}
      </div>

      <div class="row">
        <div class="col offset-s6">
          <button class="submit-btn btn waves-effect waves-light deep-orange" type="submit" name="action">
            We accept the waiver and the fees!<i class="material-icons right">send</i>
          </button>
          <div id="alert-field" class="alert hidden">
            <p>Uh oh! Something went wrong!</p>
          </div>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col s6 offset-s6 ">
        <a href="#pay" class="waves-effect waves-light btn light-blue darken-4">Make Payment</a>
      </div>
    </div>
  </div>
</section>
