
<div id="backtop">&#9650;</div>

<!-- Section: slider -->
<section class="section section-home scrollspy" id="home">
  <div class="navbar">
    <img class="responsive-img" src="assets/img/Enduro-2023.jpg" alt="">
    <h4>{{ site.data.race.form_title }}</h4>
    <h5>{{ site.data.race.location }}</h5>
    <p class="flow-text">{{ site.data.race.dates }}</p>
    <div class="row">
      <div class="col m4 offset-m2 center">
        <a href="#waiver" class="waves-effect waves-light btn light-blue darken-3">read the waiver</a>
      </div>
      <div class="col m4 center">
        <a href="#fees" class="waves-effect waves-light btn light-blue darken-3">read the fees</a>
      </div>
    </div>
  </div>
</section>



