
<div id="backtop">&#9650;</div>

<!-- Section: slider -->
<section class="section section-home scrollspy" id="home">
  <div class="navbar">
    <img class="responsive-img" src="assets/img/Enduro-2023.jpg" alt="">
    <h4>{{ site.form_title }}</h4>
    <h5>{{ site.race_location }}</h5>
    <p class="flow-text">{{ site.race_dates }}</p>
  <div class="row">
    <div class="col s4 offset-s2 center">
      <a href="#waiver" class="waves-effect waves-light btn teal lighten-2">read the waiver</a>
    </div>
    <div class="col s4 center">
      <a href="#fees" class="waves-effect waves-light btn teal lighten-2">read the fees</a>
    </div>
  </div>
  </div>
</section>



