<!-- Pay section -->
<section class="section section-pay grey lighten-3 scrollspy" id="pay">
   <div class="container">
      <div class="row">
         <div class="col m6">
            <!-- <h5 class="center">2023 Registration Fees</h5> -->
            {{ site.data.race.pay | markdownify }}
            <hr>
            {{ site.data.race.fees | markdownify }}
         </div>
         <div class="col m6 center">
            <!-- <h5 class="center">2023 Registration Fees</h5> -->
            {{ site.data.race.pay_QR | markdownify }}
         </div>
      </div>
   </div>
</section>
