<section class="section section-thank scrollspy grey lighten-1" id="thank">
  <div class="container">
    <h4 class="center">Thank you for your registration.</h4>
    <h5 class="center">Please come to the official booth to get your racing numbers.</h5>
    <h5 class="center">See you at the race!! You may make your payment below. . .</h5>

    <br>
    <div class="row">
      <div class="col m6 center">
        <a href="#pay" class="waves-effect waves-light btn light-blue darken-4">Make Payment</a>
      </div>
      <div class="col m6 center">
        <a href="index.html" type="reset" class="waves-effect waves-light btn light-blue darken-4">Resgister another Racer</a>
      </div>
    </div>
  </div>
</section>
