      <!-- Racer # 1 hill climb -->
      <div class="col s6">
        <blockquote class="bq-18">
          <b>Hill climb race March 18, 13 pm</b>
          <br>
          <b>Racer 1 hill:</b>
          <label>
            <input class="with-gap" name="hill1" type="radio" value="Yes" required/>
            <span>Yes</span>
          </label>
          <label>
            <input class="with-gap" name="hill1" type="radio" value="No" required/>
            <span>No</span>
          </label>
          <br>
          <b>Racer 2 hill:</b>
          <label>
            <input class="with-gap" name="hill2" type="radio" value="Yes"d/>
            <span>Yes</span>
          </label>
          <label>
            <input class="with-gap" name="hill2" type="radio" value="No"/>
            <span>No</span>
          </label>
        </blockquote>
      </div>
