    <div class="row">
      <div class="col s12">
        <b>Hill climb race March 18, 13pm</b>
      </div>
    </div>

    <div class="row">
      <!-- Racer # 1 hill climb -->
      <div class="col s6">
        <p>
          <label>
            <input id="r1" class="with-gap" name="hill1" type="radio" value="Yes"/>
            <span>Yes</span>
          </label>
          <label>
            <input id="r2" class="with-gap" name="hill1" type="radio" value="No"/>
            <span>No</span>
          </label>
        </p>
      </div>
      <!-- Racer # 2 hill climb -->
      <div class="col s6">
        <p>
          <label>
            <input id="r3" class="with-gap" name="hill2" type="radio" value="Yes"/>
            <span>Yes</span>
          </label>
          <label>
            <input id="r4" class="with-gap" name="hill2" type="radio" value="No"/>
            <span>No</span>
          </label>
        </p>
      </div>
    </div>


