    <div class="row">
      <div class="col s12">
        <b>Enduro race March 19, 8pm</b>
      </div>
    </div>

    <div class="row">
      <!-- Racer # 1 hill climb -->
      <div class="col s6">
        <p>
          <label>
            <input id="r5" class="with-gap" name="enduro1" type="radio" value="Yes"/>
            <span>Yes</span>
          </label>
          <label>
            <input id="r6" class="with-gap" name="enduro1" type="radio" value="No"/>
            <span>No</span>
          </label>
        </p>
      </div>
      <!-- Racer # 2 hill climb -->
      <div class="col s6">
        <p>
          <label>
            <input id="r7" class="with-gap" name="enduro2" type="radio" value="Yes"/>
            <span>Yes</span>
          </label>
          <label>
            <input id="r8" class="with-gap" name="enduro2" type="radio" value="No"/>
            <span>No</span>
          </label>
        </p>
      </div>
    </div>


