          <!-- Racer 1 -->

        <div id="hill1">
          <div>
            <b>Hill climb?</b>
            <label>
              <input class="with-gap" name="entry.2131610651" type="radio" value="Yes" />
              <span>Yes</span>
            </label>
            <label>
              <input class="with-gap" name="entry.2131610651" type="radio" value="No" />
              <span>No</span>
            </label>
          </div>
          <div>
            <b>Enduro...?</b>
            <label>
              <input class="with-gap" name="entry.1760404173" type="radio" value="Yes" />
              <span>Yes</span>
            </label>
            <label>
              <input class="with-gap" name="entry.1760404173" type="radio" value="No" />
              <span>No</span>
            </label>
          </div>
        </div>
