      <!-- Racer # 1 hill climb -->
      <div class="col s6">
        <b>Hill climb race March 18, 13 pm</b>
        <p>
          <label>
            <input class="with-gap" name="hill1" type="radio" value="Yes"/>
            <span>Yes</span>
          </label>
          <label>
            <input class="with-gap" name="hill1" type="radio" value="No"/>
            <span>No</span>
          </label>
        </p>
      </div>
      <!-- Racer # 2 hill climb -->
      <div class="col s6">
        <b>Racer 2:</b>
        <p>
          <label>
            <input class="with-gap" name="hill2" type="radio" value="Yes"/>
            <span>Yes</span>
          </label>
          <label>
            <input class="with-gap" name="hill2" type="radio" value="No"/>
            <span>No</span>
          </label>
        </p>
      </div>
