      <!-- Racer # 1 hill climb -->
      <div class="col s6">
        <b>Enduro race March 19, 8 am</b>
        <p>
          <label>
            <input class="with-gap" name="enduro1" type="radio" value="Yes"/>
            <span>Yes</span>
          </label>
          <label>
            <input class="with-gap" name="enduro1" type="radio" value="No"/>
            <span>No</span>
          </label>
        </p>
      </div>
      <!-- Racer # 2 hill climb -->
      <div class="col s6">
        <b>Racer 2:</b>
        <p>
          <label>
            <input class="with-gap" name="enduro2" type="radio" value="Yes"/>
            <span>Yes</span>
          </label>
          <label>
            <input class="with-gap" name="enduro2" type="radio" value="No"/>
            <span>No</span>
          </label>
        </p>
      </div>
