<!-- Racer 1 -->
<div id="hill1">
   <div>
      <b>Hill climb?</b>
      <label>
         <input class="with-gap" name="{{ site.data.race.r1-hill }}" type="radio" value="Yes" />
         <span>Yes</span>
      </label>
      <label>
         <input class="with-gap" name="{{ site.data.race.r1-hill }}" type="radio" value="No" />
         <span>No</span>
      </label>
   </div>
   <div>
      <b>Enduro...?</b>
      <label>
         <input class="with-gap" name="{{ site.data.race.r1-endu }}" type="radio" value="Yes" />
         <span>Yes</span>
      </label>
      <label>
         <input class="with-gap" name="{{ site.data.race.r1-endu }}" type="radio" value="No" />
         <span>No</span>
      </label>
   </div>
</div>
