/* override materializecss blockquote values */
.hidden {
  display:none !important
}
.btn, .btn-large, .btn-flat {
  height:auto !important;
}
.bq-1 {
  border-left: 7px solid #F2771A;
}
.bq-2 {
  border-left: 7px solid #0000ff;
}
.bq-3 {
  border-left: 7px solid #00e676;
}
h4 {
  font-size: 2.0rem;
}
h5 {
  font-size: 1.5rem;
}
.flow-text {
  font-size: 1.4rem;
}

/* very import override materialize ccs' select option on iOS device */
.select-wrapper * { transition: none !important; transform: none !important; }

progress {  
  width: 80%;
  height: 25px;  
}  

.container {
  width: 80%;
}

#map {
  height: 50vh;
  margin-bottom: 10px;
  display: none;
}

#locationList .card {
  padding: 10px;
}

#toast-container {
  top: 50%;
  bottom: unset;
}

.toast {
  background-color: rgba(0, 0, 0, 0.8);
}

.btn i {
  font-size: 1rem;
  margin-right: 2px;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 80%;
    max-width: 800px;
  }
}

.navbar {
  padding: 25px 0;
  width: auto;
  height: auto;
  text-align: center;
  color: white;
}
